<!DOCTYPE html>
<html>
  <head>
  <title>SMAN 2 Tangerang Selatan</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- File CDN -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/all.css" />
  <!-- Tolong pasang sebelum style.css di input -->
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

  <body>
    <!-- Dari sini -->
    <div id="allWrapper">
      <div class="content">
        <section class="container login-form-container">
          <div class="row">
            <div class="col-lg-12 mt-5 mb-3">
              <div class="card mb-3">
                <div class="text-center">
                  <img
                    class="card-img-top"
                    src="/images/welcome.png"
                    alt="Card image cap"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-3">
                <div>
                  <!-- Link menuju berikutnya -->
                  <a href="/login"
                    ><img
                      class="card-img-top"
                      src="/images/Bsiswa.png"
                      alt="Card image cap"
                  /></a>
                </div>
                <div class="card-body"></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-3">
                <div>
                  <!-- Link menuju berikutnya -->
                  <a href="/pemilihan"
                    ><img
                      class="card-img-top"
                      src="/images/Bguru.png"
                      alt="Card image cap"
                  /></a>
                </div>
                <div class="card-body"></div>
              </div>
            </div>
            <div class="col-lg-6 column-in-center">
              <div class="card mb-3">
                <div>
                  <!-- Link menuju berikutnya -->
                  <a href="/pemilihan"
                    ><img
                      class="card-img-top"
                      src="/images/Bstaff.png"
                      alt="Card image cap"
                  /></a>
                </div>
                <div class="card-body"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- Sampai sini -->
  </body>
</html>
