<!DOCTYPE html>
<html>
  <% include utils/header %>
  <body>
    <section class="container login-form-container-2">
      <form method="POST">
        <div class="form-group">
          <label class="h5" for="title"
            ><i class="fas fa-user-friends mr-2"></i>Nomor Induk Siswa</label
          ><label class="text-danger">*</label>
          <input
            type="text"
            class="form-control"
            name="title"
            id="title"
            placeholder="Enter Nomor Induk Siswa... (NIS)"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
    </section>
    <footer></footer>
  </body>
</html>
