<!DOCTYPE html>
<html>
  <% include utils/header %>
  <body>
    <!-- Dari sini -->
    <section class="container login-form-container">
        <form action="/thankyou"><div class="row">
            <div class="col-lg-6">
              <div class="card mb-3">
                <div>
                  <!-- VALUE 1 -->
                  <input class="card-img-top"
                  src="/images/mpk1.png"
                  alt="Card image cap" type="image" value="1">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-3">
                <div>
                  <!-- VALUE 2 -->
                  <input class="card-img-top"
                  src="/images/mpk2.png"
                  alt="Card image cap" type="image" value="2">
              </div>
              
            </div>
            
          </div>
        </div>
        <!-- Button SUBMIT -->
        <div class="text-center mb-3"><input type="button" value="Submit"class="btn btn-danger btn-block"></input></div>
      </form>
      <div aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Pemilihan MPK
          </li>
        </ol>
      </div>
    </section>
    <!-- Sampai sini -->
  </body>
</html>
