<!DOCTYPE html>
<html>
  <% include utils/header %>
  <body>
    <!-- Dari Sini -->
    <section class="container login-form-container">
      <div class="row">
        <div class="col-lg-6">
          <div class="card mb-3">
            <div>
              <!-- Link menuju berikutnya -->
              <a href="/pemilihan/osis"
                ><img
                  class="card-img-top"
                  src="/images/Bosis1.png"
                  alt="Card image cap"
              /></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-3">
            <div >
                    <!-- Link menuju berikutnya -->
                    <a href="/pemilihan/mpk"
                    ><img
                      class="card-img-top"
                      src="/images/Bmpk1.png"
                      alt="Card image cap"
                  /></a>
          </div>
        </div>
      </div>
    </section>
    <!-- Sampai sini -->
  </body>
</html>
